.mapMainDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 200px;
  height: 100vh;
  gap: 20px;
  padding: 20px;
  /* width: 100%; */
}


.mapContainerCollege{
  width: 70%;
  aspect-ratio: 2;
  border: 1px solid black;
}